@use "../../colors" as *;
.how-much {
	background-color: $main-color;
	p {
		padding-bottom: 2em;
		font-size: 1.4rem;
		line-height: 28px;
		text-align: center;
		font-weight: lighter;
	}
}

@media (min-width: 768px) {
	.how-much {
		p {
			font-size: 1.8rem;
			line-height: 35px;
		}
	}
}
