@use "../../colors" as *;
.nav {
	max-height: 15dvh;
	width: 100dvw;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 100;
	.wrapper {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}
	&__list {
		li {
			list-style-type: none;
		}
	}
	.is-active {
		transform: translateX(0);
	}
	h2 {
		font-family: "Asap", sans-serif;
		font-size: 2rem;
		z-index: 100;
		a {
			text-decoration: none;
			color: $main-color;
		}
	}
}
@media (max-width: 768px) {
	.nav {
		overflow-x: clip;
		&__list {
			position: absolute;
			top: 0;
			left: 0;
			height: 100dvh;
			width: 100dvw;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: white;
			li {
				padding: 1.5em;
			}
			a {
				position: relative;
				text-decoration: none;
				padding: 1em;
				color: black;
				font-size: 1.8rem;
				font-weight: lighter;
				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 5px;
					transform: translateY(50%);
					height: 80%;
					width: 2px;
					background-color: $main-color;
					transform-origin: left;
					transform: scaleY(0);
					transition: transform 0.3s ease-in-out;
				}
				&:hover {
					&::before {
						transform: scaleY(1);
						transform-origin: right;
					}
				}
			}
			transform: translateX(101%);
			transition: transform 0.5s ease-in-out;
		}
	}
}
@media (min-width: 768px) {
	.nav {
		&__list {
			a {
				font-size: 2rem;
			}
		}
		a {
			font-size: 2.3rem;
		}
	}
}

@media (min-width: 1280px) {
	.nav {
		.hamburger {
			display: none;
		}
	}
}
